beautifulsoup4==4.9.3
matplotlib==3.3.3
numpy==1.19.3
pandas==1.1.5
pydocstyle==5.1.1
pytz==2020.4
requests==2.25.1
requests-html==0.10.0
scikit-learn==0.24.1
scipy==1.6.0
Scrapy==2.4.1
scrapy-proxy-pool==0.1.9
scrapy-user-agents==0.1.1
seaborn==0.11.1
sklearn==0.0
statsmodels==0.12.2
Twisted==20.3.0
urllib3==1.26.2
user-agents==2.2.0
yellowbrick==1.3


